[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = {extras = ["django"], version = "*"}
psycopg2 = "*"
django-browser-reload = "*"
django-debug-toolbar = "*"
django-template-partials = "*"

[dev-packages]

[requires]
python_version = "3.12"
