{% extends "base.html" %} {% load static %} {% block content %}

<div x-data="alldata()" class="container">
  <div class="row flex justify-center">
    <select
      x-model="$store.alex.canalElegido"
      @change="$store.alex.chgCanal()"
      {%
      comment
      %}
      x-bind:selectedIndex="$store.alex.canalElegido"
      {%
      endcomment
      %}
      autofocus
      name="canal"
    >
      <template x-for="option in $store.alex.canales">
        <option
          :key="option.value"
          :value="option.value"
          x-text="option.text"
        ></option>
      </template>
    </select>
  </div>

  <div class="row">
    <div class="col-md-12" style="height: 90vh">
      <div id="chart-temp"></div>
      <div id="chart-zoom" style="min-height: 100px"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function initialLoad() {
      fetch('/series/')
      .then((response) => response.json())
      .then((pdata) => {
          {% comment %} data = pdata; {% endcomment %}
          {% comment %} canales = data.chans; {% endcomment %}

          Alpine.store('alex').series = pdata.series;
          Alpine.store('alex').beg_ts = pdata.beg_ts;
          Alpine.store('alex').end_ts = pdata.end_ts;
          Alpine.store('alex').canales = pdata.canales.map((item, index) => ({value: index, text: item}));
          Alpine.store('alex').canalElegido = 0;
          Alpine.store('alex').chgCanal();

      })
    };

  document.addEventListener('alpine:init', () => {
      Alpine.store('alex', {

          canalElegido: '',
          canales: [],  //value: ordinal del array, text: nombre del canal, canal: columna 'ix' en la tabla
          series: [], //array con los datos de la serie
          beg_ts: new Date().getTime() - (4*3600000),
          end_ts: new Date().getTime() - (3*3600000),
          chgCanal() {
            chart_zoom.updateOptions({
                xaxis: {
                      min: this.beg_ts,
                      max: this.end_ts
                    },
                chart: {
                    selection: {
                        xaxis: {
                            min: this.beg_ts,
                            max: this.end_ts
                        }
                    }
                }
            }, true, false);
            chart_zoom.zoomX(this.beg_ts, this.end_ts);
            chart_temp.updateSeries([this.series[this.canalElegido]], false);
            chart_zoom.updateSeries([this.series[this.canalElegido]], false);
          },
      });
      initialLoad();
      alldata()
  });

  var options_temp = {
      chart: {
          id: 'temps',
      type: 'line',
      animations: {
          enabled: false,
      },
      height: '80%',
      toolbar: {
          autoSelected: 'pan',
          show: false
      },
      events: {
        scrolled: function(chartContext, { xaxis }) {
            console.log('temp scrolled', xaxis.min, xaxis.max, chartContext);
        }
    }
      },
      {% comment %} title: {
      text: 'Temperatura',
      }, {% endcomment %}
      legend: {
      show: false,
      position: 'top',
      showForSingleSeries: true,
      },
      xaxis: {
      type: 'datetime',
      },
      series: [],
      tooltip: {
      enabled: true,
      x: {
          show: true,
          format: 'dd MMM  HH:mm',
      },
      },
  };

  var options_zoom = {
    chart: {
        id: 'zoom',
        type: 'area',
        animations: {
            enabled: false,
        },
        height: '20%',
        brush:{
            target: 'temps',
            enabled: true
        },
        selection: {
            enabled: true,
        },
        events: {
            brushScrolled: function(chartContext, { xaxis }) {
                console.log('zoom brush', xaxis.min, xaxis.max, chartContext);

                {% comment %}
                Alpine.store('alex').beg_ts = xaxis.min;
                Alpine.store('alex').end_ts = xaxis.max;
                Alpine.store('alex').chgCanal();
                {% endcomment %}
            },
            scrolled: function(chartContext, { xaxis }) {
                console.log('zoom scroll', xaxis.min, xaxis.max, chartContext);
            }
        }
    },

      legend: {
      show: false,
      position: 'top',
      showForSingleSeries: false,
      },
      xaxis: {
      type: 'datetime',
      tooltip: {enabled: false}
      },
      series: [],
  };

  var chart_temp = new ApexCharts(document.getElementById('chart-temp'), options_temp);
  chart_temp.render();

  var chart_zoom = new ApexCharts(document.getElementById('chart-zoom'), options_zoom);
  chart_zoom.render();
</script>
{% endblock %}
